@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6,.Poppins{
  font-family: 'Poppins';
}
:root{
  --primary-color: 255, 255, 255;
  --accent-color: 255, 170, 51;
  --second-accent: 32, 201, 151;
  --Main-text-color: 0, 119, 255;
  --Sec-text-color: 0, 0, 0;
}